<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Crud Aplication</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="{% url 'index' %}">home</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'taskPending' %}">Task Pending</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">LogOut </a>
            </li>
            <li>
                <a href="{% url 'createTask' %}">create Task</a>
            </li>
            <li>
                <a href="{% url 'taskComplete' %}">Task Complete</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'signup' %}">singup</a>
            </li>
            <li>
                <a href="{% url 'signin' %}">singin</a>
            </li>
            
            {% endif %}
            
        </ul>
    </nav>
    {% block content %}
    
    {% endblock content %}
</body>
</html>